<div class="main-page">
  <div class="search">
    <form [formGroup]="marketForm" class="example-form">
      <div class="search-inputs">
        <mat-form-field>
          <mat-label>Insert item</mat-label>
          <input
            formControlName="name"
            matInput
            placeholder="Expert's Heavy Mace, Adept's Heavy Mace"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Insert quality</mat-label>
          <input
            formControlName="quality"
            matInput
            placeholder="Insert item quality"
          />
        </mat-form-field>
      </div>
      <button mat-flat-button color="primary" (click)="search()">Search</button>
    </form>
  </div>
  <div class="castles">
    @for(castle of cities; track castle.city){
    <div class="castle">
      <div class="header">
        <span>{{ castle.city }}</span>
      </div>
      <div class="castle-info">
        <div class="castle-info-prices">
          <div class="castle-info-prices-bar">
            <span class="label">Buy max price:</span><br /><span class="info">{{
              castle.buy_price_max
            }}</span>
          </div>
          <div class="castle-info-prices-bar">
            <span class="label">Sell min price:</span><br /><span
              class="info"
              >{{ castle.sell_price_min }}</span
            >
          </div>
          <div class="castle-info-prices-bar">
            <span class="label">Last max buy date:</span><br /><span
              class="info"
              >{{ formatDate(castle.buy_price_max_date) }}</span
            >
          </div>
          <div class="castle-info-prices-bar">
            <span class="label">Last min sell date:</span><br /><span
              class="info"
              >{{ formatDate(castle.sell_price_max_date) }}</span
            >
          </div>
        </div>

        <br />
      </div>
      <div class="chart">
        <app-market-chart
          [chartId]="castle.city"
          [data]="castle.chartData"
        ></app-market-chart>
      </div>
    </div>
    }
  </div>
</div>
